$primary_color: rgb(229, 79, 53);
$primary_opacity_color : #e54f356e ;
$secondary_color: rgb(99, 182, 230);

$light_text_color : #fff;
$light_option_color : #f4f4f4 ;
$light_option_hover_color: #e0e0e0 ;
$light_option_border: #ccc;


$light_container_color : #fff ;
$light_container_border : #ccc;